
/* Apply different fonts to each heading */
@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Crimson+Pro&display=swap');


@import url('https://fonts.googleapis.com/css2?family=Amiri:ital,wght@0,400;0,700;1,400;1,700&family=BIZ+UDGothic&family=BIZ+UDPGothic&family=Marhey:wght@300..700&family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&family=Noto+Sans+Devanagari:wght@100..900&family=Oswald:wght@200..700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Amiri:ital,wght@0,400;0,700;1,400;1,700&family=BIZ+UDGothic&family=BIZ+UDPGothic&family=Lora:ital,wght@0,400..700;1,400..700&family=Marhey:wght@300..700&family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&family=Noto+Sans+Devanagari:wght@100..900&family=Oswald:wght@200..700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
#title {
  display:flex;
  align-items: center;
  margin-bottom: 185px;
  position: absolute;
  top: 530px;

}

#he1 {
  font-family:  serif;
  margin-right: 20px; 
  color: #87816c;
  font-weight: bolder;
}

#he2 {
  font-family:  serif;
  color: #291f15;
  font-weight: lighter;
}

body, html {
  height: 100%;
  /*font-family: 'Georgia', serif;*/
  background: #fff;
  background-color: rgb(242, 238, 228);
}

.hero-section {
  background: url('img/mount1.jpg') no-repeat center center/80%;
  height: 100vh;
  color: #203020;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  flex-direction: column;
}

.content {
  background: rgba(255, 255, 255, 0.85);
  padding: 20px;
  border-radius: 20px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);

  width:fit-content;
  position: absolute;
  top:30px;
  left: 50%;

  transform: translateX(-50%); /* Centers the content horizontally */
  height:fit-content; /* Set your desired height */
  text-align: center; /* Aligns text to the center */
  box-sizing: content-box;
}

.content h1 {
  font-size: 1.35em;
  line-height: 1.4;
}

.content h1 span {
  font-weight: normal;
}

h1 em {
  font-style: italic;
  color: #472d10;
}

.download-btn {
  margin: 20px 0;
  padding: 15px 30px;
  background-color: #2f5d3d;
  color: white;
  border: none;
  border-radius: 10px;
  font-size: 1em;
  cursor: pointer;
  transition: background 0.3s;
  position: absolute;
  top: 210px;
  display: block;
  margin: 0 auto;

}

.download-btn:hover {
  background-color: #244b30;
}

.tagline {
  margin-top: 10px;
  font-size: 1em;
  color: #cdc3b5;
  position: absolute;
  top: 100px;

}
